/* 메인 */
#main {
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    background-color: rgb(207, 182, 162);
    text-align: center;
    width: 480px;
    height: 800px;
    border: 5px solid rgb(187, 146, 146);
    position: relative;
  }
  
  #chat {   
    width: 100%;
    height: 740px;
    overflow-y: scroll;   
    padding-bottom: 10px;
  }

  #chat::-webkit-scrollbar {
    display: none;
  }

  /* 채팅 영역 */
  #chat2 {
    position: absolute;
    bottom: 20px;
    margin-top: 50px;    
    width: 100%;
    overflow-y: auto;
  }
  
  /* 접속 알림 */
  .connect {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    display: inline-block;
  }
  
  /* 접속 종료 알림 */
  .disconnect {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
  }
  
  /* 내가 보낸 메시지 */
  .me {
    display: block;
    max-width: 280px;
    padding: 5px;      
    margin: auto;
    background-color: rgb(202, 142, 107);
    border-radius: 5px;
    text-align : right;
    margin-top: 10px;
    margin-right: 15px;    
  }
  
  /* 상대방이 보낸 메시지 */
  .other {
    display: block;
    max-width: 280px; 
    padding: 5px; 
    margin: auto;
    background-color: rgb(189, 189, 189);
    border-radius: 5px;
    text-align : left;
    margin-top: 10px;
    margin-left: 15px;    
  }